[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
twisted = ">=18.9.0"
scrapy = "*"
legistar = {git = "https://github.com/opencivicdata/python-legistar-scraper"}
python-dateutil = "*"
scrapy-sentry = "*"
city-scrapers-core = {extras = ["aws"],version = "*"}

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
yapf = "*"
