[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-sentry-errors = "1.0.0"
city-scrapers-core = {ref = "main", git = "https://github.com/City-Bureau/city-scrapers-core.git", extras = ["azure"]}
scrapy-wayback-middleware = "*"

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.9"
