-i https://pypi.org/simple
requests
scrapy
scrapy-sentry
python-dateutil
city-scrapers-core[aws]
git+https://github.com/opencivicdata/python-legistar-scraper@854a3725f2325f866f897fbc0a6682f8ab372dc7#egg=legistar
freezegun
pytest
flake8
isort
yapf
pathlib2
pywin32 ; sys_platform == 'win32'
