-i https://pypi.org/simple
requests
twisted
scrapy
scrapy-sentry
git+https://github.com/opencivicdata/python-legistar-scraper@0ec3578939ae4dab90ea767f397e276158cc66c0#egg=legistar
city-scrapers-core
freezegun
pytest
flake8
isort
yapf
