asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
azure-common==1.1.18
azure-storage-blob==1.5.0
azure-storage-common==1.4.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
city-scrapers-core==0.2.5
constantly==15.1.0
cryptography==2.6.1
cssselect==1.0.3
defusedxml==0.6.0
entrypoints==0.3
flake8==3.7.7
freezegun==0.3.11
future==0.17.1
hyperlink==19.0.0
icalendar==4.0.3
idna==2.8
incremental==17.5.0
Inflector==2.0.12
isort==4.3.17
Jinja2==2.10
jsonschema==3.0.1
lxml==4.3.3
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==7.0.0
numpy==1.16.2
parsel==1.5.1
pathlib2==2.3.3
pdfminer.six==20181108
pipenv==2018.11.26
pluggy==0.9.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pybind11==2.2.4
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.7.3
PyDispatcher==2.0.5
pyflakes==2.1.1
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
PyPDF2==1.26.0
pyrsistent==0.14.11
pytest==4.4.0
python-dateutil==2.8.0
pytz==2019.1
queuelib==1.5.0
raven==6.10.0
requests==2.21.0
scrapelib==1.2.0
Scrapy==1.6.0
scrapy-sentry==0.9.0
service-identity==18.1.0
six==1.12.0
sortedcontainers==2.1.0
Twisted==19.2.0
urllib3==1.24.1
virtualenv==16.4.3
virtualenv-clone==0.5.3
w3lib==1.20.0
yapf==0.27.0
zope.interface==4.6.0
git+https://github.com/opencivicdata/python-legistar-scraper@854a3725f2325f866f897fbc0a6682f8ab372dc7#egg=legistar
